  /* Banners */
  
  .contenedor {
    display: flex;
    padding: 0;
    margin: 3% 0 2% 0;
    align-items: center;
    background-color: #FFEEDF;
    border-radius: 5%;
    & h2 {
     font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 60px;
    margin: 0 0 5px 30%
    }
    & p {
     font-family: 'EB Garamond', serif;
     font-weight: 400;
     font-size: 20px;
     margin: 3%;
    }
    }
    .imagen{
    width: 50%;
    height: auto;
     }
 
 